.skills{
    display: block;
    position: relative;

    &__inner{
        padding-top: 130px;
    }

    &__list{
        margin-top: 80px;
        display: grid;
        grid-gap: 76px;

    }

    &__item{
        position: relative;
        display: grid;
        grid-gap: 30px;
     }

    &__name{
        font-size: 25px;
        font-family: $font2;
        color: #fff;
    }


   &__number{
        position: absolute;
        right: 0;
        font-size: 22px;
        font-family: $font1;
        color: #fff;
   }

   &__circle{
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 22px;
        height: 22px;
        background-color: #fff;
        border-radius: 50%;
        margin-top: 15px;
   }

   &__progress {
        border:0;
        width: 100%;
        height: 4px;
    }

    &__progress::-webkit-progress-bar {
        background: #5b5959;
    }

    &__progress::-webkit-progress-value {
        background: #fff;
    }

    &__progress::-moz-progress-bar {
        background: #fff;
    }
}





@media (min-width: 1000px) and (max-width: 1279px) {
  
    .skills{

        &__name{
            font-size: 20px;
        }
    }
    
    }
    
    
    
    @media (min-width: 768px) and (max-width: 999px) {
      
        .skills{

            &__name{
                font-size: 20px;
            }

            &__number{
                font-size: 20px;
            }

            &__circle{
                width: 18px;
                height: 18px;
                bottom: -8px;
            }
        }
        
     }



     @media (min-width: 500px) and (max-width: 767px) {
      
        .skills{
            // display: grid;
            // justify-content: center;
            
            &__inner{
                padding: 60px;
                // display: grid;
                // grid-template-columns: 1fr;
                // width: 70%;
                // justify-content: center;
            }

            &__list{
                grid-gap: 40px;
                // width: 70%;
            }

            &__name{
                font-size: 20px;
            }

            &__number{
                font-size: 20px;
            }

            &__circle{
                width: 18px;
                height: 18px;
                bottom: -8px;
            }
        }
        
     }



     @media (min-width: 320px) and (max-width: 499px) {
      
        .skills{

            &__inner{
                padding: 60px 0 60px 0;
            }

            &__list{
                grid-gap: 40px;
            }

            &__name{
                font-size: 18px;
            }

            &__number{
                font-size: 20px;
            }

            &__circle{
                width: 18px;
                height: 18px;
                bottom: -8px;
            }
        }
        
     }